Django>=5.2,<5.3
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
django-filter>=24.3
django-cors-headers>=4.4
drf-spectacular>=0.27
channels>=4.1
channels-redis>=4.2
daphne>=4.1
psycopg[binary]>=3.2
dj-database-url>=2.2
pymongo>=4.8
redis>=5.0
cryptography>=43.0
gunicorn>=22.0
uvicorn[standard]>=0.30
uvicorn-worker>=0.3
argon2-cffi>=23.1
whitenoise>=6.7
websockets>=13
boto3>=1.35
